body {
    margin: 0;
    text-align: center;
    background: linear-gradient(#F1FAEE, #E63946);
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #E63946;
    margin: 21px;
}

.container {
    display: flex;
    justify-content: space-around;
}

p {
    background: linear-gradient( #E63946, #F1FAEE);
    color: #A8DADC;
    width: 120px;
    line-height: 127px;
    border-radius: 5px;
    font-family: 'myFont', sans-serif;
    font-weight: bold;
    font-size: 90px;
    padding: 20px 30px;
    margin: 20px;

}

button {
    background: none;
    border: 2px solid #A8DADC;
    height: 45px;
    width: 45px;
    color: #A8DADC;
    border-radius: 2px;
}

#new {
text-align: center;
margin-top: 40px;
height: 60px;
width: 200px;
font-family: 'myFont';
font-size: 25px;
font-weight: bold;
}

@font-face {
    font-family: 'myFont';
    src: url("myFont/DIGITALDREAMNARROW.ttf") format('truetype');
}

.highlight {
    background: #E63946;
    font-weight: bold;
}

